@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
	--clr-accent: #6d0505;
	--light: #c20909;
	--dark: #000000;
	--white: #ffffff;
	--shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

* {
	font-family: 'Poppins', sans-serif;
	
}

body{
	margin: 0px;
	background-color: var(--clr-accent);
}

footer {
	height: 35px;
	padding: 2rem;
	background-color: var(--clr-accent);
	color: var(--white);
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 50vh 0 50vh #000, 0 -7px 10px rgba(0, 0, 0, 0.7);
	margin-top: 30px
}

/* Nav Bar */

.navBar {
	position: fixed;
	width: 100%;
	background-color: var(--dark);
	transition: background-color 400ms;
	padding: 5px;
	display: grid;
	font-size: 40px;
	grid-template-columns: 1fr 0.5fr;
	grid-gap: 1.5em;
	font-family: 'Play', sans-serif;
	z-index: 1;
}

.navBarMoved {
	background-color: var(--clr-accent);
	box-shadow: 0 7px 10px rgba(0, 0, 0, 0.7);
}

.navHeader{
	margin: auto;
	margin-left: 5px;
	color: var(--dark);
	text-decoration: none;
	font-size: 86%;
	white-space: nowrap;
}

.navButtons{
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: end;
	padding: 0px;
	margin-right: 20px;
}

.navIcon {
	display: none;
}

.navBurgerDropdown{
	display: none;
}

.navDropdownContent a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	color: var(--light);
	letter-spacing: 2px;
	transition: 0.2s;
}

@media (max-width: 650px){

	.navBurgerDropdown{
		display: block;
		justify-content: end;
		margin: auto;
		margin-right: 4rem;
		float: left;
		font-size: 100%;
	}

	.navButtons{
		display: none;
	}
}

.navButton{
	margin: auto 5px;
	padding: 5px 10px;
	color: var(--clr-accent);
	text-decoration: none;
	font-size: 60%;
	border: solid;
}

.navDropdown{
	float: left;
	margin: auto 5px;
	font-size: 100%;
}

.navDropdownButton{
	border: solid;
	font-size: 60%;
	padding: 5px 15px;
	color: var(--light);
	font-family: inherit;
	margin: 0;
	
}

.navBurgerDropdownButton{
	border: solid;
	font-size: 57%;
	padding: 3px 15px;
	text-align: center;
	color: var(--light);
	font-family: inherit;
	width: 110%;
}

.navDropdown:hover .navDropdownButton{
	color: var(--white);
}

.navBurgerDropdown:hover .navBurgerDropdownButton {
	color: var(--white);
}

.navDropdownContent{
	display: none;
	position: absolute;
	background-color: var(--clr-accent);
	font-size: 55%;
	width: 1fr;
	white-space: nowrap;
}

.navDropdown:hover .navDropdownContent{
	display: block;
}

.navBurgerDropdown:hover .navDropdownContent{
	display: block;
}

.navDropdownContent a{
	float: none;
	display: block;
	padding: 10px;
}

	.navDropdownContent a:hover {
		background-color: var(--clr-accent);
		color: var(--dark);
		text-decoration: none;
	}

/* Home Page */

.homeWrapper{
	display: grid;
	grid-template-rows: max(250px, 20vw) auto;

	background-image: url('images/code.png');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;

	padding-top: 40px;
}

.homeTitle{
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	color: var(--white);
  	font-family: 'Play', sans-serif;
  	font-size: max(50px, 4.8vw);
}

.homeContainer {
	background-color: var(--clr-accent);
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: max(130px, 15vw);
	padding: max(60px, 6vw) max(40px, 10vw);
	color: white;
}

@media (max-width: 550px){

	.homeContainer{
		flex-direction: column;
	}

	.gameDocuments{
		flex-direction: column;

	}


}


.yellowLine{
	background-color: var(--white);
	height: max(4px, 0.4vw);
	border: none;
	width: 45%;
	margin: max(15px, 2vw) auto;
	margin-bottom: max(50px, 5vw);
}

.prev, .next {
	cursor: pointer;
	font-weight: bold;
	font-size: 40px;
	transition: 0.6s ease;
}

.text {
	color: var(--white);
	font-size: max(15px, 1.5vw);
	font-family: 'Play', sans-serif;
	text-align: center;
	padding-top: 15px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: var(--clr-accent);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 1s ease;
}

.active, .dot:hover {
	background-color: var(--clr-accent);
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 2.5s;
	animation-name: fade;
	animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.2}
  to {opacity: 1}
}

/* Games Page */

.gamesContainer{
	background-color: var(--clr-accent);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 40px 15px;
	padding-top: 90px;
	position: relative;
}

.gamesLeft{
	display: flex;
	flex-direction: column;
	position: relative;
}

.gamesTitle{
	color: var(--white);
  	font-family: 'Popins', sans-serif;
  	font-size: max(55px, 4.4vw);
  	margin-bottom: 20px;
}


.gameDocuments object{
	height: 700px;
	width: 600px;

}

.gamesVideo{
	width: max(400px, calc(16*3vw));
	height: max(225px, calc(9*3vw));
	margin: auto;
	border: solid;
	border-color: var(--dark);
	position: relative;
}

.gamesVideo:hover{
	border-color: var(--white);
}

.gamesRight{
	max-width: max(400px, 40%);
	display: grid;
	grid-template-rows: auto;
	grid-gap: 5px;
	margin: 2rem;
	font-family: 'Play', sans-serif;
	color: var(--white);
	font-size: max(14px,1.3vw);
}

.gamesNavigationHeader{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: max(30px,3.3vw);
}

.gamesNavigationHeader a{
	color: var(--light);
	border-color: var(--dark);
	font-family: 'Play', sans-serif;
}

.gamesNavigationHeader a:hover{
	color: var(--white);
}

.gamesLink {
	position: relative;
	z-index: 10;
}

.gamesLink a {
	display: inline-block;
	font-size: 1em;
	background: #fff;
	padding: 10px 30px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	margin-top: 10px;
	color: var(--light);
	letter-spacing: 2px;
	transition: 0.2s;
}

@media (max-width: 991px) {
	.gameDocuments object {
		height: 400px;
		width: 400px;
	}

}


/* Coding Page */


/* sets the style for the footer at the very bottom of the page */
footer {
	background-color: var(--footer);
	text-align: center;
	padding: 5px;
	margin-top: 10px;
	border-width: 2px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: var(--border);
}

	/* sets the style for the links in the footer at the very bottom of the page */
	footer a {
		color: var(--link);
	}


/* Default Stuff */

.defaultWrapper{
	display: grid;
	grid-template-rows: auto;
	padding-top: 6rem;
	margin-left: max(30px, 3vw);
}

.defaultTitle{
	color: white;
  	font-family: 'Play', sans-serif;
  	font-size: max(45px, 4.4vw);
  	margin-bottom: 20px;
}


a, a:link, a:visited {
	position: relative;
	z-index: 0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 400;
	color: var(--light);
	transition: 0.2s;
}

	a:hover {
		color: var(--white);
	}

@media(max-width: 991px) {
	.footer{
		padding: 75px;
		position: relative;
	}

}