@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --clr-accent: #11a9c9;
    --light: #9dd4f1;
    --dark: #000000;
    --white: #ffffff;
    --shadow: 0 1px 5px rgba(104,104,104, 0.8);
}
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-accent);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase img
{
  position: center;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--light);
    mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{
  font-size: 5em;
  font-weight: 800;
  color: var(--white);
  line-height: 1em;
  text-transform: uppercase;
}
    .text h3 {
        font-size: 2em;
        font-weight: 700;
        color: var(--white);
        line-height: 1em;
        text-transform: uppercase;
    }
    .text p {
        font-size: 1.1em;
        color: var(--white);
        margin: 20px 0;
        font-weight: 400;
        max-width: 700px;
    }
    .text a {
        display: inline-block;
        font-size: 1em;
        background: #fff;
        padding: 10px 30px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        margin-top: 10px;
        color: var(--light);
        letter-spacing: 2px;
        transition: 0.2s;
    }
.text a:hover
{
  letter-spacing: 6px;
}

@media (max-width: 1400px) {
    .showcase img {
        position: absolute;
        top: 0;
        right: 20px;
        width: 25%;
        height: 25%;
        object-fit: contain;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }

}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 75px;
  }
    .text {
        position: relative;
    }
  .text h2
  {
    font-size: 2em;

  }
  .text h3
  {
    font-size: 1.1em;
  }

}